.hello {
    font-family: 'Aliquam';
    text-align: center;
    color: #413a5d;
    margin-top: 9%;
}
.form{
    margin-left: 30%;
    margin-right: 30%;
}
.link {
    text-align: center;
}
#btnCreateNewNote{
    margin-top: 3%;
    display: block;
    width: 155px;
    margin-left: auto;
    margin-right: auto;
}
#btnLogout{
    display: block;
    width: 155px;
   margin: 0 auto;
}
#btnDelete{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3% ;
}
.textH5 {
    color: #413a5d;
}
#textArea {
    margin-top: 1px;
}
.dropdownButton{
    left: 30%;
    right: auto;

}
#table {
    margin-top: 3%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#close {
    width: 14px;
}
#noteName{
    width: 300px;
}
#checkboxRow{
    width: 100px;
}